body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  body header {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)); }
    body header .imagenlogo {
      background-image: url(../imagenes/Fondorosa.jpg); }
    body header .navbar1 {
      border: solid 2px #e6c9d3;
      display: flex;
      justify-content: end;
      width: auto; }

footer {
  border: 2px solid black;
  background-image: url(../imagenes/Fondorosa.jpg);
  height: auto; }
  footer p {
    text-align: center;
    margin-top: 20px; }
  footer .redesSociales1 {
    display: flex;
    justify-content: center;
    text-decoration: none; }
    footer .redesSociales1 .instagram {
      margin-right: 4px;
      transition: all 1s; }
    footer .redesSociales1 .instagram:hover {
      transform: scale(1.5); }
    footer .redesSociales1 .correoElectronico {
      transition: all 1s; }
    footer .redesSociales1 .correoElectronico:hover {
      transform: scale(1.5); }
  footer .redesSociales2 {
    display: flex;
    justify-content: end;
    position: fixed;
    height: 10px;
    left: 0px;
    right: 20px;
    bottom: 150px; }
    footer .redesSociales2 .whatsapp {
      transition: all 1s; }
    footer .redesSociales2 .whatsapp:hover {
      transform: scale(1.3); }
  footer .nav-link {
    color: black; }

.seccionSubtitulo {
  font-size: 17px;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-right: 10px;
  margin-left: 10px; }

.propiedadesFondo {
  margin: 0 100px;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  height: auto;
  padding: 50px; }
  .propiedadesFondo .CadaPagina {
    background-color: #ecdede;
    font-size: 30px;
    justify-content: left;
    margin-bottom: 80px;
    margin-top: 30px;
    padding: 50px; }
  .propiedadesFondo .seccionSubtitulo {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "item1 item2 item3" "item4 item5 item6" "item7 item8 item9"; }
  .propiedadesFondo .item1 {
    grid-area: item1; }
  .propiedadesFondo .item2 {
    grid-area: item2; }
  .propiedadesFondo .item3 {
    grid-area: item3; }
  .propiedadesFondo .item4 {
    grid-area: item4; }
  .propiedadesFondo .item5 {
    grid-area: item5; }
  .propiedadesFondo .item6 {
    grid-area: item6; }
  .propiedadesFondo .item7 {
    grid-area: item7; }
  .propiedadesFondo .item8 {
    grid-area: item8; }
  .propiedadesFondo .item9 {
    grid-area: item9; }
  .propiedadesFondo .piedra p {
    height: 330px;
    width: auto; }
  .propiedadesFondo .botonPropiedades {
    display: flex;
    justify-content: center; }
    .propiedadesFondo .botonPropiedades .btn {
      color: white;
      background-image: url(../imagenes/Fondorosa.jpg);
      margin-bottom: 10px;
      border: white;
      transition: all 0.5; }
    .propiedadesFondo .botonPropiedades .btn:hover {
      transform: scale(1.2); }
  .propiedadesFondo .seccionSubtitulo img {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 30px;
    margin-left: 30px; }
  .propiedadesFondo .seccionSubtitulo img {
    float: left; }
  .propiedadesFondo .seccionSubtitulo p {
    text-align: center;
    margin: auto;
    padding: 50px 50px;
    vertical-align: top;
    top: 10px; }
  .propiedadesFondo .seccionSubtitulo .piedra {
    border: solid black 1px;
    margin: 2px; }
  .propiedadesFondo .piedrasimagen {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    height: 300px; }
  .propiedadesFondo h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: orchid;
    font-size: 20px;
    margin-top: 30px; }

.contenidoQuienSoy {
  margin: 0 100px;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  height: auto;
  padding: 50px; }
  .contenidoQuienSoy .CadaPagina {
    background-color: #ecdede;
    font-size: 30px;
    justify-content: left;
    margin-bottom: 80px;
    margin-top: 30px;
    padding: 50px; }
  .contenidoQuienSoy .carrousel1 {
    margin: 1px 200px; }
  .contenidoQuienSoy p {
    justify-content: left;
    margin: 100px 200px;
    font-size: 18px; }

.contenedor-contacto {
  margin: 0 100px;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  height: auto;
  padding: 50px; }
  .contenedor-contacto .CadaPagina {
    font-size: 30px;
    background-color: #ecdede;
    justify-content: left;
    margin-bottom: 80px;
    margin-top: 30px;
    padding: 50px; }
  .contenedor-contacto .ContactoGrilla {
    display: flex;
    justify-content: center;
    margin-bottom: 80px; }
    .contenedor-contacto .ContactoGrilla div {
      background-color: #ecdede;
      border: solid 3px #e6c9d3;
      width: 500px; }
    .contenedor-contacto .ContactoGrilla .check {
      padding: 30px;
      margin: 0px; }
  .contenedor-contacto .enviarYborrar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    .contenedor-contacto .enviarYborrar button {
      margin: 10px 5px;
      margin-top: 0px;
      width: 60px;
      height: 45px;
      display: flex;
      justify-content: center;
      color: white;
      background-image: url(../imagenes/Fondorosa.jpg);
      border: white;
      transition: all 0.5s; }
    .contenedor-contacto .enviarYborrar button:hover {
      transform: scale(1.2); }
  .contenedor-contacto .Consulta1 input {
    width: 90%;
    height: 90%; }

.paginaPrincipal {
  margin: 0 100px;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  height: auto;
  padding: 50px; }
  .paginaPrincipal .TituloPrincipal {
    background-color: #ecdede;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 30px;
    padding: 50px; }
  .paginaPrincipal .Imagen-florLoto {
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px; }
  .paginaPrincipal .lotoParrafo {
    text-align: center;
    font-size: 17px;
    margin-bottom: 150px;
    padding: 0;
    margin-left: 100px;
    margin-right: 100px; }

a {
  text-decoration: none;
  font-size: 18px; }

.seccionSubtitulo2 {
  margin: 0 100px;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  height: auto;
  padding: 50px; }
  .seccionSubtitulo2 .yoga .CadaPagina {
    background-color: #ecdede;
    font-size: 30px;
    justify-content: left;
    margin-bottom: 80px;
    margin-top: 30px;
    padding: 50px; }
  .seccionSubtitulo2 .yoga .Titulo {
    animation-name: aparecer;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  .seccionSubtitulo2 .yoga .yogaImagen1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }
  .seccionSubtitulo2 .yoga .yogaBeneficios {
    margin-left: 10px;
    margin-right: 10px; }
    .seccionSubtitulo2 .yoga .yogaBeneficios ul {
      margin-right: 10px;
      margin-bottom: 100px; }
    .seccionSubtitulo2 .yoga .yogaBeneficios p {
      font-size: 18px;
      margin-left: 30px;
      margin-bottom: 70px; }
    .seccionSubtitulo2 .yoga .yogaBeneficios .yogaLista {
      text-decoration: none;
      margin-top: 50px;
      margin-bottom: 70px;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto; }
      .seccionSubtitulo2 .yoga .yogaBeneficios .yogaLista li {
        list-style-type: none;
        align-items: center;
        font-size: 18px;
        margin-bottom: 5px;
        border-bottom: #dfb0c0 solid 1px; }
    .seccionSubtitulo2 .yoga .yogaBeneficios .parrafoYoga {
      display: flex;
      justify-content: left;
      font-size: 25px;
      color: orchid;
      margin-bottom: 70px;
      margin-left: 30px; }
  .seccionSubtitulo2 .subtituloTerapias {
    display: flex;
    justify-content: center;
    margin-bottom: 70px; }
  .seccionSubtitulo2 .gemoterapia h3 {
    display: flex;
    justify-content: left;
    font-size: 25px;
    color: orchid;
    margin-bottom: 70px;
    margin-left: 30px; }
  .seccionSubtitulo2 .gemoterapia p {
    font-size: 18px;
    margin: 10px 30px;
    margin-bottom: 70px;
    justify-content: left; }
  .seccionSubtitulo2 .gemoterapia ul {
    text-decoration: none; }
    .seccionSubtitulo2 .gemoterapia ul li {
      list-style-type: none;
      border-bottom: #dfb0c0 solid 1px;
      text-decoration: none;
      margin: 50px 0;
      width: 60%; }
  .seccionSubtitulo2 .terapia-consulta {
    margin: 10px 30px; }
    .seccionSubtitulo2 .terapia-consulta h3 {
      display: flex;
      justify-content: left;
      font-size: 25px;
      color: orchid;
      margin-bottom: 50px; }
    .seccionSubtitulo2 .terapia-consulta .consultaYogaEnviar {
      text-align: end; }
      .seccionSubtitulo2 .terapia-consulta .consultaYogaEnviar .btn {
        color: white;
        background-image: url(../imagenes/Fondorosa.jpg);
        border: white;
        transition: all 0.5s; }
      .seccionSubtitulo2 .terapia-consulta .consultaYogaEnviar .btn:hover {
        transform: scale(1.2); }

@keyframes aparecer {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  0% {
    transform: scale(1.5); } }

.subtituloPropiedades {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: initial; }

.yogaTitulo {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: initial; }

.contactoTitulo {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: initial; }

.quiensoyTituloe {
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: initial; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 768px) {
  body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
    body header {
      --bs-bg-opacity: 1;
      background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)); }
      body header .imagenlogo {
        background-image: url(../imagenes/Fondorosa.jpg); }
      body header .navbar1 {
        display: flex;
        justify-content: start; }
        body header .navbar1 nav a {
          border: solid 1px #e6c9d3;
          text-align: center; } }

/*----PROPIEDADES----*/
@media screen and (max-width: 1024px) {
  .propiedadesFondo {
    margin: 0px 5px;
    padding: 0px; }
    .propiedadesFondo .CadaPagina {
      background-color: #ecdede;
      font-size: 23px;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      margin-top: 30px; }
    .propiedadesFondo .seccionSubtitulo {
      display: inline-block;
      background-color: white;
      font-size: 17px;
      margin: 0, 20px;
      margin-bottom: 100px; }
      .propiedadesFondo .seccionSubtitulo p {
        color: #242125;
        font-size: 15px; }
      .propiedadesFondo .seccionSubtitulo img {
        height: 70px;
        width: 70px; }
      .propiedadesFondo .seccionSubtitulo .piedra p {
        height: auto;
        width: auto; }
    .propiedadesFondo .piedrasimagen {
      height: 150px; } }

/*----OTRAS TERAPIAS----*/
@media screen and (max-width: 768px) {
  .seccionSubtitulo2 {
    margin: 0px 5px;
    padding: 0px; }
    .seccionSubtitulo2 .yoga .CadaPagina {
      background-color: #ecdede;
      font-size: 23px;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      margin-top: 30px; }
    .seccionSubtitulo2 .yoga .yogaImagen1 {
      height: 150px;
      display: flex;
      justify-content: center; } }

/*--------CONTACTO------*/
@media screen and (max-width: 768px) {
  .contenedor-contacto {
    margin: 0px 5px;
    padding: 0px; }
    .contenedor-contacto .CadaPagina {
      background-color: #ecdede;
      font-size: 23px;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      margin-top: 30px; }
    .contenedor-contacto .ContactoGrilla {
      margin-right: 0px;
      margin-left: 0px; }
      .contenedor-contacto .ContactoGrilla div {
        font-size: 15PX;
        text-align: start;
        width: 300px; } }

/*-------QUIEN SOY------*/
@media screen and (max-width: 768px) {
  .contenidoQuienSoy {
    margin: 0px 5px;
    padding: 0px; }
    .contenidoQuienSoy .CadaPagina {
      background-color: #ecdede;
      font-size: 23px;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      margin-top: 30px; }
    .contenidoQuienSoy p {
      justify-content: left;
      margin: 50px 10px;
      font-size: 17px; }
    .contenidoQuienSoy .carrousel1 {
      margin: auto 20px; } }

/*-------INDEX-------*/
@media screen and (max-width: 768px) {
  .paginaPrincipal {
    margin: 0px;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    height: auto;
    padding: 0px; }
    .paginaPrincipal .menu-nuevo1 .TituloPrincipal {
      display: flex;
      justify-content: center;
      margin-bottom: 100px; }
    .paginaPrincipal .menu-nuevo1 .Imagen-florLoto {
      height: 150px;
      display: flex;
      justify-content: center;
      margin-bottom: 150px; }
    .paginaPrincipal .menu-nuevo1 .lotoParrafo {
      text-align: center;
      font-size: 15px;
      margin-bottom: 150px;
      border: black solid 1px;
      margin-left: 10px;
      margin-right: 10px; }
  footer p {
    font-size: 15px; }
    footer p .redesSociales img {
      height: 10px; } }
