.contenedor-contacto {
 
    margin: 0 100px;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    height: auto;

}


.ContactoGrilla div {

    background-color:rgb(236, 222, 222) ;
    border: solid 2px  rgb(230, 201, 211)  ;

}






.ContactoGrilla {


    display: flex;
   width: 500px;
 
    justify-content: center; 
    margin-bottom: 100px;

   
    
}

.enviarYborrar {

    display: flex;
    justify-content: center;

}

.Consulta1  input{

   width: 90%;
   height: 90%;
}

