@media screen and (max-width: 768px) {
 
 
    body {

        padding: 0px;
        margin: 0px;
        width: auto;

    }
   
    nav {

    display: flex;
    justify-content: end;
    background-color: none;

    } 

    nav ul {

    display: flex;
    flex-direction: column;
    background-color: rgb(223, 176, 192);
    padding: 0;

    }

    a {

    text-decoration: none;
    font-size: 15px;
    
    }

    nav a{

    border: black solid 2px;
    text-align: center;

    }


  /*-------INDEX-------*/





  .contenedores2{
 
    width: auto;
    margin: 0px;
  }

    .Titulo{

        margin-bottom: 0px;
        margin-top: 40px;
        font-size: 30px;
     
    }
    
   .loto img {

    height: 150px;
    width: auto;

}

 
    
 

    .ContenidoDelTitulo p {
        
        font-size: 15px;
        border: black 2px dotted;
        margin: 0 20px;
        width: auto;
     
    }


    footer p {
    
        font-size: 15px;
    }
    
 

   .redesSociales img {

    height: 20px;

   }

/*----PROPIEDADES----*/

    .propiedadesFondo{

        margin: 0px;

        .seccionSubtitulo {

   
            display: inline-block;
            background-color: white;
            
              font-size: 17px;
              margin: 0, 20px;
              margin-bottom: 100px;
             }
             p {
 
                color: blueviolet;
                font-size: 15px;
                
              
               }
               img {

                height: 70px ;
                width: 70px;
            }

            .piedrasimagen {
 
              height: 200PX;
              width: 200PX;
            
               }
               .piedra p {
 
                height: auto;
                width: auto;
            
                
            }
        
    }

    

    
    

   

 
   
 
 /*----OTRAS TERAPIAS----*/

    .seccionSubtitulo2 {

        margin: 0px;
    }


    .consultaYoga {

    display: grid;
    grid-template-columns: AUTO auto;
    grid-template-rows: auto auto;
    font-size: 15PX;
   
    }


    .yogaLista li {

    display: flex;
    flex-direction: column;
    
    }


    .yogaLista {

    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
   

    }

    .yogaLista li {

    border: 2px solid rgb(223, 176, 192);
    font-size: 13px;
    margin-bottom: 5px ;
    color: black;
    text-align: center;

    }

    .yogaBeneficios p {
    
    font-size: 16px;
    color: black;


    }

    .CadaPagina {

    font-size: 20px;

    }

    .yogaImagen2 {

     display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}  



/*--------CONTACTO------*/


.contenedor-contacto {

    margin: 0;


    .ContactoGrilla {

    
        margin-right: 10px;
        margin-left: 10px;
        
        div {
    
            font-size: 15PX;
            text-align: start;
            width: auto;
            }
        
      
        }

}


  




/*-------QUIEN SOY------*/

.contenidoQuienSoy {

    
    margin: 0;
    
}

.carrousel1 {

    margin: auto 20px ;
}
}