@media screen and (max-width: 768px) {
 
 
    body {

        padding: 0px;
        margin: 0px;
        width: auto;

    }
   


    nav a{

    border: black solid 2px;
    text-align: center;

    }



   

/*----PROPIEDADES----*/

    .propiedadesFondo{

        margin: 0px;

        .seccionSubtitulo {

   
                        display: inline-block;
                        background-color: white;
            
                        font-size: 17px;
                         margin: 0, 20px;
                        margin-bottom: 100px;
            
                             p {
 
                                color: blueviolet;
                                font-size: 15px;
                
              
                                }

                             img {

                                height: 70px ;
                                width: 70px;
                                }

          
             
                            .piedra p {
 
                                height: auto;
                                width: auto;
            
                
                                }
        }
                
        
            .piedrasimagen {
 
                height: 150px;
                
                }

            }

    }
    
    

   

 
   
 
 /*----OTRAS TERAPIAS----*/




    .seccionSubtitulo2 {

        margin: 0px;



        .CadaPagina {

            font-size: 20px;
        
            }
        

        .yogaBeneficios{



                ul {


                    margin-right: 0px ;
                    margin-bottom: 0px;


                    li {
                        font-size: 15px;
                        margin-bottom: 5px ;
                        color: black;
                        text-align: center;

                    }
                }
    
    
                .yogaLista {
        
                   margin: 50px 0px;
                    display: flex;
                    flex-direction: column;

                    
                
                  li {
                
                        display: flex;
                        flex-direction: column;
                        border: 2px solid rgb(223, 176, 192);
                      
                        
                     }
            
            
            
                    p {
            
                    font-size: 16px;
                    color: black;
        
        
                    }
                }
  
        
        }
   
    }


      
/*--------CONTACTO------*/


.contenedor-contacto {

    margin: 0;


    .ContactoGrilla {

    
        margin-right: 10px;
        margin-left: 10px;
        
        div {
    
            font-size: 15PX;
            text-align: start;
            width: auto;
            }
        
      
        }

}


  
/*-------QUIEN SOY------*/

.contenidoQuienSoy {

    
        margin: 0;

         p{
                text-align: center;
                margin: 50px 10px;
                font-size: 17px;
                color: rgb(100, 70, 100);
        
        
            }
    


        .carrousel1 {

                margin: auto 20px ;
            }

    }

  /*-------INDEX-------*/


  
  .paginaPrincipal{


                margin: 0px;
                 --bs-bg-opacity: 1;
                background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    
                height: auto;
                padding: 0px;

                .menu-nuevo1 {

        
                        .TituloPrincipal{
                                    display: flex;
                                    justify-content: center;
                                    margin-bottom: 100px;
                            }

                        .Imagen-florLoto {
                                    height: 150px;
                                    display: flex;
                                    justify-content: center;
                                    margin-bottom: 150px;
                            }
    

                        .lotoParrafo{

                                    text-align: center;
                                    font-size: 15px;
                                    margin-bottom: 150px;
                                    border: black solid 1px;
                                    margin-left: 10px;
                                    margin-right: 10px;
    
                            }
 
                }

    
  

   footer p {
    
        font-size: 15px;

        .redesSociales img {

            height: 10px;
        
           }


    }
    
 




}