.seccionSubtitulo2{
 
 
        margin: 0 100px;
      --bs-bg-opacity: 1;
      background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
      height: auto;
      padding: 50px;


      .yoga{


             .CadaPagina {
  
              font-size: 25px;
              color: rgb(36, 24, 28);
              display: flex;
              justify-content: center;
              margin-bottom: 80px;
              margin-top: 0px;
              padding: 50px;
        
              }
  
              .Titulo{
  
                animation-name: aparecer;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            
            }


            .yogaImagen1 {
            
            
                border: chartreuse solid 3px;
                display: flex;
                justify-content: center;
                margin-bottom: 50px;
            }       

            .yogaBeneficios{
            
              
               
               margin-left: 10px ;
               margin-right: 10px ;
              
               border: chocolate solid 3px;


                        ul {
  
                        margin-right: 10px ;
                        margin-bottom: 100px;

                      
                        }
                        p {
  
                        font-size: 19px;
                        color: rgb(192, 147, 162);
                        width: 70%;
                       }


                       .yogaLista {
  
                       
                        margin-top: 50px;
                        margin-bottom: 50px;
                  
                                          li {
                    
                                          list-style-type: none;
                                          align-items: center;
                                          font-size: 18px;
                                          margin-bottom: 5px ;
                      
                                          }

                                         
                        
                        }

                        .parrafoYoga{
  
                            align-items: center;
                            display: flex;
                            justify-content: center;
                        
                        }
                        


           
           }

        }

        .consultaYogaEnviar{

            display: flex;
            justify-content: center; 
            
            
            }



  
} 
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  