.seccionSubtitulo2{
 
 
    margin: 0 100px;
      --bs-bg-opacity: 1;
      background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  
  
  }
  
  
  
  
  .seccionSubtitulo2 {
  
      height: auto;
      padding: 50px;
      
  }
  
  
  
  .otrasTerapias {
  
      font-size: 23px;
      color:palevioletred ;
      
  }
  
  .consultaYoga {
  
      display: grid;
      grid-template-columns: 200PX 350PX;
      grid-template-rows: auto auto;
     /* border: black 2px solid;*/
      justify-content: center; 
      margin-bottom: 5px;
      margin-top: 50px;
      grid-template-areas: 
      "consultaYoga-consulta consultaYoga-consulta"
      "consultaYoga-consultatext consultaYoga-consultatext"
      "consultaYoga-email consultaYoga-emailtext"
      ;
  
  }
  
  .consultaYoga-consulta {
  
      grid-area: consultaYoga-consulta;
  }
  
  .consultaYoga-email {
  
      grid-area: consultaYoga-email;
  }
  
  .consultaYoga-emailtext {
  
      grid-area: consultaYoga-emailtext;
  
  }
  
  .consultaYoga input {
  
      width: 90%;
  }
  
  
  .consultaYoga-consultatext {
  
      grid-area: consultaYoga-consultatext;
  
  
  }
  
  
  .consultaYogaEnviar{
  
  display: flex;
  justify-content: center; 
  
  
  }
  
  
  .consultaYoga div {
  
      background-color:rgb(236, 222, 222) ;
      border: solid 2px  rgb(230, 201, 211)  ;
      
  }
  
  .yogaLista li {
  
      list-style-type: none;
   align-items: center;
  
  }
  
  
  .yogaLista {
  
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
      "yoga1 yoga2 yoga3"
      "yoga4 yoga5 yoga6"
      "yoga7 yoga8 yoga8"
      ;
      margin-top: 50px;
      margin-bottom: 50px;
      
  }
  
  .yogaLista li {
  
  /*border: 2px solid black;*/
  font-size: 18px;
  margin-bottom: 5px ;
  
  }
  
  
  .yoga1 {
  
      grid-area: yoga1;
      color:rgb(218, 200, 200)
  
  }
  
  
  .yoga2 {
  
      grid-area:yoga2 ;
      color: rgb(223, 176, 192)
  
  }
  
  .yoga3 {
  
      grid-area: yoga3;
      color: rgb(218, 200, 200)
  }
  
  .yoga4 {
  
      grid-area: yoga4;
      color: rgb(223, 176, 192)
  }
  
  .yoga5 {
  
      grid-area: yoga5;
      color:rgb(218, 200, 200)
  }
  
  .yoga6 {
  
      grid-area: yoga6;
      color: rgb(223, 176, 192)
  }
  
  .yoga7 {
  
      grid-area: yoga7;
      color:rgb(218, 200, 200)
  }
  
  .yoga8 {
  
      grid-area: yoga8;
      color: rgb(223, 176, 192)
  }
  .yogaBeneficios
   {
   
      
      margin-left: 10px ;
      margin-right: 10px ;
      align-items: center;
      
  
  
  }
  
  .yogaBeneficios ul {
  
      margin-right: 10px ;
    
     margin-bottom: 100px;
  }
  
  .yogaBeneficios p {
  
   
    
  
  font-size: 19px;
  color: rgb(192, 147, 162);
  background-color: rgb(226, 218, 218);
  width: 70%;
  
  
  
  }
  
  .parrafoYoga{
  
      align-items: center;
      display: flex;
      justify-content: center;
  
  }
  
  .CadaPagina {
  
  font-size: 25px;
  color: rgb(223, 176, 192);
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 0px;
  padding: 50px;
  
  }
  
  .yogaImagen1 {
  
  
      /*border: 3px violet solid;*/
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
  } 
  
  .Titulo{
  
      animation-name: aparecer;
      animation-duration: 2s;
      animation-iteration-count: infinite;
  
  }