.seccionSubtitulo2{
 
 
        margin: 0 100px;
      --bs-bg-opacity: 1;
      background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
      height: auto;
      padding: 50px;


             .CadaPagina {
  
              font-size: 25px;
              color: rgb(223, 176, 192);
              display: flex;
              justify-content: center;
              margin-bottom: 80px;
              margin-top: 0px;
              padding: 50px;
        
              }
  
              .Titulo{
  
                animation-name: aparecer;
                animation-duration: 2s;
                animation-iteration-count: infinite;
            
            }

            .yogaBeneficios{
            
               
               margin-left: 10px ;
               margin-right: 10px ;
               align-items: center;


                        ul {
  
                        margin-right: 10px ;
                        margin-bottom: 100px;

                      
                        }
                        p {
  
                        font-size: 19px;
                        color: rgb(192, 147, 162);
                        width: 70%;
                       }


                       .yogaLista {
  
                       
                        margin-top: 50px;
                        margin-bottom: 50px;
                  
                                          li {
                    
                                          list-style-type: none;
                                          align-items: center;
                                          font-size: 18px;
                                          margin-bottom: 5px ;
                      
                                          }

                                         
                        
                    }

           
           }

           .consultaYoga-consultatext {
    
            grid-area: consultaYoga-consultatext;
        
        
        }
        .consultaYogaEnviar{

            display: flex;
            justify-content: center; 
            
            
            }


  
  }
  
  
  
  
  
  
  .otrasTerapias {
  
      font-size: 23px;
      color:palevioletred ;
      
  }
  
  .consultaYoga {
  
      display: grid;
      grid-template-columns: 200PX 350PX;
      grid-template-rows: auto auto;
     
      justify-content: center; 
      margin-bottom: 5px;
      margin-top: 50px;
      grid-template-areas: 
      "consultaYoga-consulta consultaYoga-consulta"
      "consultaYoga-consultatext consultaYoga-consultatext"
      "consultaYoga-email consultaYoga-emailtext"
      ;


                .consultaYoga-consulta {
  
                        grid-area: consultaYoga-consulta;
                        }
    
                .consultaYoga-email {
    
                         grid-area: consultaYoga-email;
                        }
    
                .consultaYoga-emailtext {
    
                         grid-area: consultaYoga-emailtext;
    
                        }
    
                        input {
    
                            width: 90%;
               }      
               div {
  
                background-color:rgb(236, 222, 222) ;
                border: solid 2px  rgb(230, 201, 211)  ;
                
            }
    
            .parrafoYoga{
  
                align-items: center;
                display: flex;
                justify-content: center;
            
            }
            
            
            
            .yogaImagen1 {
            
            
                
                display: flex;
                justify-content: center;
                margin-bottom: 50px;
            }       
  
  }
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  