@import "propiedades";
@import "quiensoy";
@import "contacto";
@import "index";
@import "otrasterapias";
@import "mediaqueries";
@import "keyframes";

$color-h2:rgb(118, 214, 142);

h1{
   color: $color-h2 ;
   background-color: $color-h2;
}
h2 {
     background-color: $color-h2;
     
 }


