@import "propiedades";
@import "quiensoy";
@import "contacto";
@import "index";
@import "otrasterapias";
@import "mediaqueries";
@import "keyframes";



$redes: (

instagram: rgb(151, 29, 125),
whattsapp: rgb(61, 185, 61),
correo: rgb(255, 55, 55),

);

@each $red, $color in $redes {
    
    .redesSociales2-#{$red}{
        color: $color;
    }
}