.contenedor-contacto {
 
    margin: 0 100px;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    height: auto;

    .CadaPagina {
  
        font-size: 25px;
        color: rgb(36, 24, 28);
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        margin-top: 0px;
        padding: 50px;
  
        }

        



    .ContactoGrilla {


        display: flex;
        justify-content: center; 
        margin-bottom: 100px;

            div {

                background-color:rgb(236, 222, 222) ;
                border: solid 2px  rgb(230, 201, 211)  ;
                width: 500px;
    
            }

   
    
}

.enviarYborrar {

    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {

        margin: 10px 10px ;
        width: 60px;
        height: 45px;
        display: flex;
        justify-content: center;
    }

}

.Consulta1  input{

    width: 90%;
    height: 90%;
 }

}



