



 .paginaPrincipal{

    

    margin: 0 100px;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    height: auto;
    padding: 50px;

    

        
        .TituloPrincipal{

            background-color:rgb(236, 222, 222);
            display: flex;
            justify-content: center;
            
           margin-bottom: 80px;
           margin-top: 30px;
           padding: 50px;
     
        }

        .Imagen-florLoto {
            height: 300px;
            display: flex;
            justify-content: center;
            margin-bottom: 150px;
        }
        .lotoParrafo{

            text-align: center;
            font-size: 17px;
            margin-bottom: 150px;
            padding: 0;
             margin-left: 100px;
            margin-right: 100px;
        }

     
   


 }

    a {

        text-decoration: none;
        font-size: 18px;
        
        }



        
       
        
 
 
















 


 

 
    





   




















