.contenidoQuienSoy {

    height: auto;
    margin: 0 100px;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));

    
    .CadaPagina {
  
        font-size: 25px;
        color: rgb(36, 24, 28);
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        margin-top: 0px;
        padding: 50px;
  
        }





    .carrousel1 {

        margin: 1px 200px;
        
    }
    p{
        text-align: center;
        margin: 100px 200px;
        font-size: 18px;
        color: rgb(100, 70, 100);
        
        
    }

}



