.contenidoQuienSoy {

    margin: 0 100px;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    height: auto;
    padding: 50px;



    
    .CadaPagina {
  
        background-color:rgb(236, 222, 222);
            font-size: 30px;
             
              justify-content: left;
             margin-bottom: 80px;
              margin-top: 30px;
              padding: 50px;
  
        }





    .carrousel1 {

        margin: 1px 200px;
        
    }

    p{
        justify-content: left;
        margin: 100px 200px;
        font-size: 18px;
        
        
        
    }

}



